.icon-about {
    font-size: 60px;
}
.icon-about.fa-react {
    color: cyan;
}
.icon-about.fa-html5 {
    color: orange;
}
.icon-about.fa-css3-alt {
    color: blue;
}
.icon-about.fa-square-js {
    color: gold;
}

.icon-contact {
    font-size: 30px;
    margin-right: 15px;
}
.icon-contact.fa-github {
    color: black;
}
.icon-contact.fa-facebook-messenger {
    color: mediumslateblue;
}
.icon-contact.fa-telegram {
    color: deepskyblue;
}
